body {
    font-family: Arial, sans-serif;
	background : linear-gradient(to right, #ffffff,#0000ee);
    line-height: 1.6;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: auto;
    padding: 20px;
    background: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    color: #333;
}

h2 {
    color: #444;
    border-bottom: 2px solid #eee;
    padding-bottom: 5px;
}

p, ul, ol {
    color: #666;
}

ul, ol {
    margin: 10px 0;
    padding: 0 20px;
}

ul li, ol li {
    margin: 5px 0;
}

pre {
    background: #f9f9f9;
    padding: 10px;
    border: 1px solid #ddd;
    overflow: auto;
}
