/* *========================================================Le style de page pour pouvoir imprimer tranquillement =========================================*/
.une_page{
	min-height:270mm;
	max-height:270mm;
	min-width:175mm;
	max-width:175mm;
	break-after:always;
}
.une_page img{
	max-width:100%;
}

.titre_de_page{
	background-color:#DDDDDD;
	text-align:center;
	font-weight:bold;
	font-variant:small-caps;
	font-size:150%;
}

/*===============================================================Pour le nom prenom classe=================================================================*/
.identite{
	display:grid;
	grid-template-columns: 70mm 70mm 35mm;
	grid-template-rows: 10mm;
}
.cellule_nom_ou_prenom{
	border-width:2px;
	border-bottom-style:solid;
	padding-bottom:2%;
	padding-top:2%;
	padding-left:2%;
	font-size:120%
}
.cellule_classe{
	border-width:2px;
	border-bottom-style:solid;
	padding-bottom:2%;
	padding-top:6%;
	padding-left:2%;
	font-size:120%
}
/*===============================================================Pour la ligne grisée de début d'exo==================================================*/

.grille_entete_exo{
	display:grid;
	grid-template-columns: 20% 60% 20%;
	margin-top:5px;
	margin-bottom:5px;
}
.numero_exo{
	grid-column: Exercice n°1;
	background-color:#DDDDDD;
	font-variant:small-caps;
	font-size:120%;
	font-weight:bold;
	text-align:left;
}
.titre_exo{
	grid-column: 2;
	background-color:#DDDDDD;
	font-style:italic;
	font-size:120%;
	text-align:left;
}

.bareme_exo{
	grid-column: 3;
	background-color:#DDDDDD;
	font-style:italic;
	font-size:120%;	
	text-align:right;
	align-self:center;
	
}

/*===============================================================Partie commune à tous les types de questions==================================================*/

.grille_question{
	display:grid;
	grid-template-columns:5mm auto 10mm;
}
.grille_reponse{
	display:grid;
	grid-template-columns:5mm auto 10mm;
	background-color:yellow;
}
.numeration_question{
	grid-column: 1;
	font-weight:bold;
}
.numeration_reponse{
	grid-column: 1;
	font-weight:bold;
	background-color:yellow;
}
/*le corps de question peut acceillir un graphique */
.corps_de_question{
	grid-column:2;
}
.corps_de_reponse{
	grid-column:2;
	background-color:yellow;
}
.bareme_invisible{
    grid-column:3;	
	display:none;
}
.bareme_visible{
	grid-column:3;
	font-size:80%;
	background-color:yellow;
	text-align: center;
	border-style:solid;
	border-width:1px;
	border-radius:50%;
	align-self: center;
}
/* pour des réponses où on ne souhaite pas écrire de barème ou dans lesquelles on ne veut pas afficher un barème qui existe */ 
.bareme_visible_vide{
	grid-column:3;
	background-color:yellow;
	color:yellow;
}

.separation_avec_ligne{
	margin-top:1px;
	margin-bottom:1px;
	min-height:1px;
	max-height:1px;
	background-color:#000000;
	border:1px solid;
}
/* ce qui suit peut paraitre redondant mais c'est uniformiser les structures */

/* partie d'exo sur une colonne */
.grille_une_colonne{
	display:grid;
	grid-template-columns:auto;
}
/* partie d'exo sur deux colonnes (pour graphique ou automatismes) */
.grille_deux_colonnes{
	display:grid;
	grid-template-columns:auto auto;
	gap:3mm;
}
/* partie d'exo sur trois colonnes (pour graphique ou autre) */
.grille_trois_colonnes{
	display:grid;
	grid-template-columns:auto auto auto;
	gap:3mm;
}/* partie d'exo sur quatre colonnes (automatismes ou autre) */
.grille_quatre_colonnes{
	display:grid;
	grid-template-columns:auto auto auto auto;
	gap:3mm;
}
