/* *========================================================Le style de page pour pouvoir imprimer tranquillement =========================================*/
.une_page{
	min-height:270mm;
	max-height:270mm;
	min-width:175mm;
	max-width:175mm;
	break-after:always;
	
}

.une_page img{
	max-height:100%;
	max-width:100%;
}
.titre_de_page{
	background-color:#DDDDDD;
	text-align:center;
	font-weight:bold;
	font-variant:small-caps;
	font-size:150%;
}

/*===============================================================Pour le nom prenom classe=================================================================*/
.identite{
	display:grid;
	grid-template-columns: 70mm 70mm 35mm;
	grid-template-rows: 10mm;
}
.cellule_nom_ou_prenom{
	border-width:2px;
	border-bottom-style:solid;
	padding-bottom:2%;
	padding-top:2%;
	padding-left:2%;
	font-size:120%
}
.cellule_classe{
	border-width:2px;
	border-bottom-style:solid;
	padding-bottom:2%;
	padding-top:6%;
	padding-left:2%;
	font-size:120%
}
/*===============================================================Pour la ligne grisée de début d'exo==================================================*/

.grille_entete_exo{
	display:grid;
	grid-template-columns: 20% 60% 20%;
	margin-top:5px;
	margin-bottom:5px;
}
.numero_exo{
	grid-column: Exercice n°1;
	background-color:#DDDDDD;
	font-variant:small-caps;
	font-size:120%;
	font-weight:bold;
	text-align:left;
}
.titre_exo{
	grid-column: 2;
	background-color:#DDDDDD;
	font-style:italic;
	font-size:120%;
	text-align:left;
}
.bareme_exo{
	grid-column: 3;
	background-color:#DDDDDD;
	font-style:italic;
	font-size:120%;	
	text-align:right;
	align-self:center;
	
}

/*===============================================================Pour des questions sans graphique==================================================*/
/*+++++++++++++++++Une colonne++++++++++++++++++++*/
.corps_partie_exo_sans_graphique_une_colonne{
	display:grid;
	grid-template-columns: auto 10mm;	
}
.corps_question_sans_graphique_une_colonne{
	grid-column: 1;
	padding-left:5mm;
	/*background-color:#55ff55;*/
}
.corps_reponse_sans_graphique_une_colonne{
	grid-column: 1;
	padding-left:5mm;
	background-color:yellow;
}
.bareme_invisible{
	
	display:none;
}
.bareme_visible{
	
	font-size:80%;
	background-color:yellow;
	text-align: center;
	border-style:solid;
	border-width:1px;
	border-radius:50%;
	align-self: center;
}
/*+++++++++++++++++deux colonnes++++++++++++++++++++*/
.corps_partie_exo_sans_graphique_deux_colonnes{
	display:grid;
	grid-template-columns: auto 10mm auto 10mm;	
	gap:10px;
}
.corps_question_sans_graphique_deux_colonnes_1{
	grid-column: 1;
	/*background-color:#55ff55;*/
}
.corps_question_sans_graphique_deux_colonnes_2{
	grid-column: 3;
	/*background-color:#55ff55;*/
}
.corps_reponse_sans_graphique_deux_colonnes_1{
	grid-column: 1;
	background-color:yellow;
}
.corps_reponse_sans_graphique_deux_colonnes_2{
	grid-column: 3;
	background-color:yellow;
}
.bareme_invisible{
	display:none;
}
.bareme_visible{
	font-size:80%;
	background-color:yellow;
	text-align: center;
	border-style:solid;
	border-width:1px;
	border-radius:50%;
	align-self: center;
}

/*===============================================================Pour des questions avec graphique==================================================*/
.corps_partie_exo_avec_graphique{
	display:grid;
	grid-template-columns: auto auto ;	
	grid-auto-rows: minmax(auto, auto);
	gap:10px;
}

.corps_questions_et_graphique_cote_a_cote{
	display:grid;
	grid-template-columns: auto 10mm;	
	/*background-color:#44ffff;*/
	gap:5px;
}

.corps_question_a_cote_du_graphique{
	grid-column: 1;
	/*background-color:#55ff55;*/
}
.corps_reponse_a_cote_du_graphique{
	grid-column: 1;
	background-color:yellow;
}
.corps_question_le_graphique{
	grid-column: 1;
	/*background-color:#ffff33;*/
	
}
.corps_reponse_le_graphique{
	grid-column: 1;
	background-color:yellow;
	
}

/*===============================================================Pour des réponses type QCM x4==================================================*/

.corps_qcm_reponse_grille{
	display:grid;
	grid-template-columns:auto 10mm auto 10mm;
	
}
.qcm_reponse_fausse{
	
}
.qcm_reponse_vraie{
	background-color:yellow;	
}

/*===============================================================Pour caractères particuliers==================================================*/

/* on utilise alors la balise <span> */

.numero_de_question{
	font-weight:bold;
	padding-left:5mm;
}