/* +++++++++++++++++++++++++les styles pour la barre horizontale la plus haute +++++++++++++++++++++++++++++  */
.titre_annonce{
	background-color:#AAAAAA;
	border-radius:5px;
	font-size : 600%;
	font-variant:small-caps;
	font-style:italic;
	text-align:center;
	margin-top:1%;
	margin-left:5%;
	margin-right:5%;	
}
.consigne{
	background-color:#AAAAAA;
	border-radius:5px;
	font-size : 200%;
	font-variant:small-caps;
	font-style:italic;
	text-align:center;
	margin-top:1%;
	margin-left:5%;
	margin-right:5%;	
}

.titre_page a {
    color: black;
	text-decoration:none;
	}
.titre_page{
	display:grid;
	grid-template-columns: 25% 50% 25%;
	grid-template-rows: minmax(auto, auto);
	gap:5px;
	/*font-size:200%;*/
	background-color:#BBBBBB;
	align-items:center;
	font-weight:bold;
	font-variant:small-caps;
	font-size:200%;	
    word-break: break-all;
    overflow-wrap: break-word;
	margin-top:1%;
	margin-left:5%;
	margin-right:5%;
}
.titre_page_cellule_gauche{
	font-size:100%;	
	grid-column-start: 1;
    grid-column-end: 2;
	padding-left:10px;
	padding-right:10px;
    word-break: break-all;
    overflow-wrap: break-word;	
}
.titre_page_cellule_centre{
	font-size:100%;	
	grid-column-start: 2;
    grid-column-end: 3;
	padding-left:10px;
	padding-right:10px;
	text-align:center;
    word-break: break-all;
    overflow-wrap: break-word;
}

.titre_page_cellule_droite{
	grid-column-start: 3;
    grid-column-end: 3;
	padding-left:10px;
	padding-right:20px;
	text-align:right;
    word-break: break-all;
    overflow-wrap: break-word;
}

.espace_vide{
	height:30px;
}

/* Chaque format permet une ligne d'explications à la fin de la grille*/

/*++++++++++++++++++++++++++ FORMATS 01 et 06  +++++++++++++++++++++++++++++++*/
/*
format01
-------------------------
Question                |
-------------------------
| Q1  | Q2  | Q3  | Q4  |
-------------------------

format06
-------------------------
Question                |
-------------------------
| Q1  | Q2  | Q3  | Q4  |
-------------------------
|img1 |img2 |img3 |img4 |
-------------------------


*/
.format01_grille{
	/*background-color:red;*/
	display:grid;
	grid-template-columns: 25% 25% 25% 25%;
	grid-template-rows: minmax(100px, auto);
	gap:5px;
	font-size:200%;	
    margin-left:5%;
	margin-right:5;
	margin-bottom:1%;
}
.format01_cellule_question{
	padding-left:5px;
	padding-right:5px;
	padding-top:10px;
	padding-bottom:10px;
	border-radius:5px;
	background-color:#EEEEEE;
	grid-column-start: 1;
    grid-column-end: 5;
    word-break: break-all;
    overflow-wrap: break-word;
	margin-left:5%;
}
.format01_cellule_explication_avec{
	padding-left:5px;
	padding-right:5px;
	padding-top:10px;
	padding-bottom:10px;
	border-radius:5px;
	background-color:#66ffff;
	grid-column-start: 1;
    grid-column-end: 5;
    word-break: break-all;
    overflow-wrap: break-word;	
}

.format01_cellule_explication_sans{
	padding-left:5px;
	padding-right:5px;
	padding-top:10px;
	padding-bottom:10px;
	border-radius:5px;
	/*background-color:#66ffff;*/
	grid-column-start: 1;
    grid-column-end: 5;	
	word-break: break-all;
    overflow-wrap: break-word;
}

.format01_cellule_reponse1_faux{
	padding-left:5px;
	padding-right:5px;
	border-radius:5px;
	
	grid-column-start: 1;
    grid-column-end: 2;
	word-break: break-all;
    overflow-wrap: break-word;
}
.format01_cellule_reponse1_vrai{
	padding-left:5px;
	padding-right:5px;
	border-radius:5px;
	background-color:yellow;
	grid-column-start: 1;
    grid-column-end: 2;
	word-break: break-all;
    overflow-wrap: break-word;
}
.format01_cellule_reponse2_faux{
	padding-left:5px;
	padding-right:5px;
	border-radius:5px;
	
	grid-column-start: 2;
    grid-column-end: 3;
	word-break: break-all;
    overflow-wrap: break-word;
}
.format01_cellule_reponse2_vrai{
	padding-left:5px;
	padding-right:5px;
	border-radius:5px;
	background-color:yellow;
	grid-column-start: 2;
    grid-column-end: 3;
	word-break: break-all;
    overflow-wrap: break-word;
}
.format01_cellule_reponse3_faux{
	padding-left:5px;
	padding-right:5px;
	border-radius:5px;
	
	grid-column-start: 3;
    grid-column-end: 4;
	word-break: break-all;
    overflow-wrap: break-word;
}
.format01_cellule_reponse3_vrai{
	padding-left:5px;
	padding-right:5px;
	border-radius:5px;
	background-color:yellow;
	grid-column-start: 3;
    grid-column-end: 4;
	word-break: break-all;
    overflow-wrap: break-word;
}
.format01_cellule_reponse4_faux{
	padding-left:5px;
	padding-right:5px;
	border-radius:5px;
	
	grid-column-start: 4;
    grid-column-end: 5;
	word-break: break-all;
    overflow-wrap: break-word;
}
.format01_cellule_reponse4_vrai{
	padding-left:5px;
	padding-right:5px;
	border-radius:5px;
	background-color:yellow;
	grid-column-start: 4;
    grid-column-end: 5;
	word-break: break-all;
    overflow-wrap: break-word;
}
.format01_cellule_reponse1_image_faux{
	padding-left:5px;
	padding-right:5px;
	border-radius:5px;
	
	grid-column-start: 1;
    grid-column-end: 2;
	word-break: break-all;
    overflow-wrap: break-word;
	font-size:100%;
}
.format01_cellule_reponse1_image_vrai{
	padding-left:5px;
	padding-right:5px;
	border-radius:5px;
	background-color:yellow;
	grid-column-start: 1;
    grid-column-end: 2;
	word-break: break-all;
    overflow-wrap: break-word;
	font-size:100%;
}
.format01_cellule_reponse2_image_faux{
	padding-left:5px;
	padding-right:5px;
	border-radius:5px;
	
	grid-column-start: 2;
    grid-column-end: 3;
	word-break: break-all;
    overflow-wrap: break-word;
	font-size:100%;
}
.format01_cellule_reponse2_image_vrai{
	padding-left:5px;
	padding-right:5px;
	border-radius:5px;
	background-color:yellow;
	grid-column-start: 2;
    grid-column-end: 3;
	word-break: break-all;
    overflow-wrap: break-word;
	font-size:100%;
}
.format01_cellule_reponse3_image_faux{
	padding-left:5px;
	padding-right:5px;
	border-radius:5px;
	
	grid-column-start: 3;
    grid-column-end: 4;
	word-break: break-all;
    overflow-wrap: break-word;
	font-size:100%;
}
.format01_cellule_reponse3_image_vrai{
	padding-left:5px;
	padding-right:5px;
	border-radius:5px;
	background-color:yellow;
	grid-column-start: 3;
    grid-column-end: 4;
	word-break: break-all;
    overflow-wrap: break-word;
	font-size:100%;
}
.format01_cellule_reponse4_image_faux{
	padding-left:5px;
	padding-right:5px;
	border-radius:5px;
	
	grid-column-start: 4;
    grid-column-end: 5;
	word-break: break-all;
    overflow-wrap: break-word;
	font-size:100%;
}
.format01_cellule_reponse4_image_vrai{
	padding-left:5px;
	padding-right:5px;
	border-radius:5px;
	background-color:yellow;
	grid-column-start: 4;
    grid-column-end: 5;
	word-break: break-all;
    overflow-wrap: break-word;
	font-size:100%;
}

/*++++++++++++++++++++++++++ FORMAT 02  +++++++++++++++++++++++++++++++*/
/*
-------------------------
Question                |
-------------------------
| Q1   | Q2  |   graphe |
| Q3   | Q4  |   graphe |
-------------------------

*/


.format02_grille{
	/*background-color:red;*/
	display:grid;
	grid-template-columns: 35% 35% 30%;
	grid-template-rows: minmax(100px, auto);
	gap:5px;
	font-size:200%;	
	margin-left:5%;
	margin-right:5%;
	margin-bottom:1%;
}
.format02_cellule_question{
	padding-left:5px;
	padding-right:5px;
	padding-top:10px;
	padding-bottom:10px;
	border-radius:5px;
	background-color:#EEEEEE;
	grid-column-start: 1;
    grid-column-end: 4;	
}
.format02_cellule_explication_avec{
	padding-left:5px;
	padding-right:5px;
	padding-top:10px;
	padding-bottom:10px;
	border-radius:5px;
	background-color:#66ffff;
	grid-column-start: 1;
    grid-column-end: 4;	
}

.format02_cellule_explication_sans{
	display:none;
	padding-left:5px;
	padding-right:5px;
	padding-top:10px;
	padding-bottom:10px;
	border-radius:5px;
	/*background-color:#66ffff;*/
	grid-column-start: 1;
    grid-column-end: 4;	
}

.format02_cellule_reponse1_faux{
	padding-left:5px;
	padding-right:5px;
	border-radius:5px;
	
	grid-column-start: 1;
    grid-column-end: 2;
	word-break: break-all;
    overflow-wrap: break-word;
}
.format02_cellule_reponse1_vrai{
	padding-left:5px;
	padding-right:5px;
	border-radius:5px;
	background-color:yellow;
	grid-column-start: 1;
    grid-column-end: 2;
	word-break: break-all;
    overflow-wrap: break-word;
}
.format02_cellule_reponse2_faux{
	padding-left:5px;
	padding-right:5px;
	border-radius:5px;
	
	grid-column-start: 2;
    grid-column-end: 3;
	word-break: break-all;
    overflow-wrap: break-word;
}
.format02_cellule_reponse2_vrai{
	padding-left:5px;
	padding-right:5px;
	border-radius:5px;
	background-color:yellow;
	grid-column-start: 2;
    grid-column-end: 3;
	word-break: break-all;
    overflow-wrap: break-word;
}
.format02_cellule_reponse3_faux{
	padding-left:5px;
	padding-right:5px;
	border-radius:5px;
	
	grid-column-start: 1;
    grid-column-end: 2;
	word-break: break-all;
    overflow-wrap: break-word;
}
.format02_cellule_reponse3_vrai{
	padding-left:5px;
	padding-right:5px;
	border-radius:5px;
	background-color:yellow;
	grid-column-start: 1;
    grid-column-end: 2;
	word-break: break-all;
    overflow-wrap: break-word;
}
.format02_cellule_reponse4_faux{
	padding-left:5px;
	padding-right:5px;
	border-radius:5px;
	
	grid-column-start: 2;
    grid-column-end: 3;
	word-break: break-all;
    overflow-wrap: break-word;
}
.format02_cellule_reponse4_vrai{
	padding-left:5px;
	padding-right:5px;
	border-radius:5px;
	background-color:yellow;
	grid-column-start: 2;
    grid-column-end: 3;
	word-break: break-all;
    overflow-wrap: break-word;
}

.format02_cellule_graphique{
	font-size:100%;
	padding:2%;
	/*background-color:red;*/
	grid-column-start: 3;
    grid-column-end: 4;
	grid-row-start:2;
	grid-row-end:4;
	word-break: break-all;
    overflow-wrap: break-word;
}
/*++++++++++++++++++++++++++ FORMAT 03  +++++++++++++++++++++++++++++++*/
/*
-------------------------
Question                |
-------------------------
| Q1        | Q2        | 
| Q3        | Q4        |   
-------------------------

*/


.format03_grille{
	/*background-color:red;*/
	display:grid;
	grid-template-columns: 50% 50%;
	grid-template-rows: minmax(100px, auto);
	gap:5px;
	font-size:200%;	
	margin-left:5%;
	margin-right:5%;
	margin-bottom:1%;
}
.format03_cellule_question{
	padding-left:5px;
	padding-right:5px;
	padding-top:10px;
	padding-bottom:10px;
	border-radius:5px;
	background-color:#EEEEEE;
	grid-column-start: 1;
    grid-column-end: 3;	
}
.format03_cellule_explication_avec{
	padding-left:5px;
	padding-right:5px;
	padding-top:10px;
	padding-bottom:10px;
	border-radius:5px;
	background-color:#66ffff;
	grid-column-start: 1;
    grid-column-end: 3;	
}

.format03_cellule_explication_sans{
	display:none;
	padding-left:5px;
	padding-right:5px;
	padding-top:10px;
	padding-bottom:10px;
	border-radius:5px;
	/*background-color:#66ffff;*/
	grid-column-start: 1;
    grid-column-end: 3;	
}

.format03_cellule_reponse1_faux{
	padding-left:5px;
	padding-right:5px;
	border-radius:5px;
	
	grid-column-start: 1;
    grid-column-end: 2;
	word-break: break-all;
    overflow-wrap: break-word;
}
.format03_cellule_reponse1_vrai{
	padding-left:5px;
	padding-right:5px;
	border-radius:5px;
	background-color:yellow;
	grid-column-start: 1;
    grid-column-end: 2;
	word-break: break-all;
    overflow-wrap: break-word;
}
.format03_cellule_reponse2_faux{
	padding-left:5px;
	padding-right:5px;
	border-radius:5px;
	
	grid-column-start: 2;
    grid-column-end: 3;
	word-break: break-all;
    overflow-wrap: break-word;
}
.format03_cellule_reponse2_vrai{
	padding-left:5px;
	padding-right:5px;
	border-radius:5px;
	background-color:yellow;
	grid-column-start: 2;
    grid-column-end: 3;
	word-break: break-all;
    overflow-wrap: break-word;
}
.format03_cellule_reponse3_faux{
	padding-left:5px;
	padding-right:5px;
	border-radius:5px;
	
	grid-column-start: 1;
    grid-column-end: 2;
	word-break: break-all;
    overflow-wrap: break-word;
}
.format03_cellule_reponse3_vrai{
	padding-left:5px;
	padding-right:5px;
	border-radius:5px;
	background-color:yellow;
	grid-column-start: 1;
    grid-column-end: 2;
	word-break: break-all;
    overflow-wrap: break-word;
}
.format03_cellule_reponse4_faux{
	padding-left:5px;
	padding-right:5px;
	border-radius:5px;
	
	grid-column-start: 2;
    grid-column-end: 3;
	word-break: break-all;
    overflow-wrap: break-word;
}
.format03_cellule_reponse4_vrai{
	padding-left:5px;
	padding-right:5px;
	border-radius:5px;
	background-color:yellow;
	grid-column-start: 2;
    grid-column-end: 3;
	word-break: break-all;
    overflow-wrap: break-word;
}
/*++++++++++++++++++++++++++ FORMAT 04  +++++++++++++++++++++++++++++++*/

/*
-------------------------
Question                |
-------------------------
| Q1                    | 
| Q2                    |
| Q3                    | 
| Q4                    |
-------------------------

*/


.format04_grille{
	/*background-color:red;*/
	display:grid;
	grid-template-columns: 100%;
	grid-template-rows: minmax(100px, auto);
	gap:5px;
	font-size:200%;
    margin-left:5%;
	margin-right:5%;
margin-bottom:1%;	
}
.format04_cellule_question{
	padding-left:5px;
	padding-right:5px;
	padding-top:10px;
	padding-bottom:10px;
	border-radius:5px;
	background-color:#EEEEEE;
	grid-column-start: 1;
    grid-column-end: 2;	
}
.format04_cellule_explication_avec{
	padding-left:5px;
	padding-right:5px;
	padding-top:10px;
	padding-bottom:10px;
	border-radius:5px;
	background-color:#66ffff;
	grid-column-start: 1;
    grid-column-end: 2;	
}

.format04_cellule_explication_sans{
	display:none;
	padding-left:5px;
	padding-right:5px;
	padding-top:10px;
	padding-bottom:10px;
	border-radius:5px;
	/*background-color:#66ffff;*/
	grid-column-start: 1;
    grid-column-end: 2;		
}

.format04_cellule_reponse1_faux{
	padding-left:5px;
	padding-right:5px;
	border-radius:5px;
	
	grid-column-start: 1;
    grid-column-end: 2;	
	word-break: break-all;
    overflow-wrap: break-word;
}
.format04_cellule_reponse1_vrai{
	padding-left:5px;
	padding-right:5px;
	border-radius:5px;
	background-color:yellow;
	grid-column-start: 1;
    grid-column-end: 2;		
	word-break: break-all;
    overflow-wrap: break-word;
}
.format04_cellule_reponse2_faux{
	padding-left:5px;
	padding-right:5px;
	border-radius:5px;
	
	grid-column-start: 1;
    grid-column-end: 2;	
	word-break: break-all;
    overflow-wrap: break-word;
}
.format04_cellule_reponse2_vrai{
	padding-left:5px;
	padding-right:5px;
	border-radius:5px;
	background-color:yellow;
	grid-column-start: 1;
    grid-column-end: 2;		
	word-break: break-all;
    overflow-wrap: break-word;
}
.format04_cellule_reponse3_faux{
	padding-left:5px;
	padding-right:5px;
	border-radius:5px;
	
	grid-column-start: 1;
    grid-column-end: 2;		
	word-break: break-all;
    overflow-wrap: break-word;
}
.format04_cellule_reponse3_vrai{
	padding-left:5px;
	padding-right:5px;
	border-radius:5px;
	background-color:yellow;
	grid-column-start: 1;
    grid-column-end: 2;
	word-break: break-all;
    overflow-wrap: break-word;
}
.format04_cellule_reponse4_faux{
	padding-left:5px;
	padding-right:5px;
	border-radius:5px;
	
	grid-column-start: 1;
    grid-column-end: 2;	
	word-break: break-all;
    overflow-wrap: break-word;
}
.format04_cellule_reponse4_vrai{
	padding-left:5px;
	padding-right:5px;
	border-radius:5px;
	background-color:yellow;
	grid-column-start: 1;
    grid-column-end: 2;	
	word-break: break-all;
    overflow-wrap: break-word;
}

/*++++++++++++++++++++++++++ FORMAT 05  +++++++++++++++++++++++++++++++*/

/*
-------------------------
Question                |
-------------------------
| Q1         | graphe   | 
| Q2         | graphe   | 
| Q3         | graphe   | 
| Q4         | graphe   | 
-------------------------

*/


.format05_grille{
	/*background-color:red;*/
	display:grid;
	grid-template-columns: 70% 30%;
	grid-template-rows: minmax(100px, auto);
	gap:5px;
	font-size:200%;
    margin-left:5%;
	margin-right:5%;
    margin-bottom:1%;	
}
.format05_cellule_question{
	padding-left:5px;
	padding-right:5px;
	padding-top:10px;
	padding-bottom:10px;
	border-radius:5px;
	background-color:#EEEEEE;
	grid-column-start: 1;
    grid-column-end: 3;	
}
.format05_cellule_explication_avec{
	padding-left:5px;
	padding-right:5px;
	padding-top:10px;
	padding-bottom:10px;
	border-radius:5px;
	background-color:#66ffff;
	grid-column-start: 1;
    grid-column-end: 3;	
}

.format05_cellule_explication_sans{
	display:none;
	padding-left:5px;
	padding-right:5px;
	padding-top:10px;
	padding-bottom:10px;
	border-radius:5px;
	/*background-color:#66ffff;*/
	grid-column-start: 1;
    grid-column-end: 3;		
}

.format05_cellule_reponse1_faux{
	padding-left:5px;
	padding-right:5px;
	border-radius:5px;
	
	grid-column-start: 1;
    grid-column-end: 2;	
	word-break: break-all;
    overflow-wrap: break-word;
}
.format05_cellule_reponse1_vrai{
	padding-left:5px;
	padding-right:5px;
	border-radius:5px;
	background-color:yellow;
	grid-column-start: 1;
    grid-column-end: 2;		
	word-break: break-all;
    overflow-wrap: break-word;
}
.format05_cellule_reponse2_faux{
	padding-left:5px;
	padding-right:5px;
	border-radius:5px;
	
	grid-column-start: 1;
    grid-column-end: 2;	
	word-break: break-all;
    overflow-wrap: break-word;
}
.format05_cellule_reponse2_vrai{
	padding-left:5px;
	padding-right:5px;
	border-radius:5px;
	background-color:yellow;
	grid-column-start: 1;
    grid-column-end: 2;		
	word-break: break-all;
    overflow-wrap: break-word;
}
.format05_cellule_reponse3_faux{
	padding-left:5px;
	padding-right:5px;
	border-radius:5px;
	
	grid-column-start: 1;
    grid-column-end: 2;		
	word-break: break-all;
    overflow-wrap: break-word;
}
.format05_cellule_reponse3_vrai{
	padding-left:5px;
	padding-right:5px;
	border-radius:5px;
	background-color:yellow;
	grid-column-start: 1;
    grid-column-end: 2;
	word-break: break-all;
    overflow-wrap: break-word;
}
.format05_cellule_reponse4_faux{
	padding-left:5px;
	padding-right:5px;
	border-radius:5px;
	
	grid-column-start: 1;
    grid-column-end: 2;	
	word-break: break-all;
    overflow-wrap: break-word;
}
.format05_cellule_reponse4_vrai{
	padding-left:5px;
	padding-right:5px;
	border-radius:5px;
	background-color:yellow;
	grid-column-start: 1;
    grid-column-end: 2;	
	word-break: break-all;
    overflow-wrap: break-word;
}
.format05_cellule_graphique{
	font-size:100%;
	padding:2%;
	/*background-color:red;*/
	grid-column-start: 2;
    grid-column-end: 3;
	grid-row-start:2;
	grid-row-end:6;
	word-break: break-all;
    overflow-wrap: break-word;
}
/* Conteneur principal de l'éditeur */
.thonny-editor {
    background-color: #ffffff;
    color: #000000;
    font-family: 'Consolas', 'Monaco', 'Courier New', monospace;
    font-size: 14px;
    border: 1px solid #d3d3d3;
    line-height: 1.5;
    display: flex;
    border-radius: 4px;
    overflow: hidden;
}

/*++++++++++++++++++++++++++ FORMAT 08  +++++++++++++++++++++++++++++++*/
/*
-------------------------
Question                |
-------------------------
| Q1   | Q2  |   graphe |
| Q3   | Q4  |   graphe |
-------------------------

*/


.format08_grille{
	/*background-color:red;*/
	display:grid;
	grid-template-columns: 28% 28% 44%;
	grid-template-rows: minmax(100px, auto);
	gap:5px;
	font-size:200%;	
	margin-left:5%;
	margin-right:5%;
	margin-bottom:1%;
}
.format08_cellule_question{
	padding-left:5px;
	padding-right:5px;
	padding-top:10px;
	padding-bottom:10px;
	border-radius:5px;
	background-color:#EEEEEE;
	grid-column-start: 1;
    grid-column-end: 4;	
}
.format08_cellule_explication_avec{
	padding-left:5px;
	padding-right:5px;
	padding-top:10px;
	padding-bottom:10px;
	border-radius:5px;
	background-color:#66ffff;
	grid-column-start: 1;
    grid-column-end: 4;	
}

.format08_cellule_explication_sans{
	display:none;
	padding-left:5px;
	padding-right:5px;
	padding-top:10px;
	padding-bottom:10px;
	border-radius:5px;
	/*background-color:#66ffff;*/
	grid-column-start: 1;
    grid-column-end: 4;	
}

.format08_cellule_reponse1_faux{
	padding-left:5px;
	padding-right:5px;
	border-radius:5px;
	
	grid-column-start: 1;
    grid-column-end: 2;
	word-break: break-all;
    overflow-wrap: break-word;
}
.format08_cellule_reponse1_vrai{
	padding-left:5px;
	padding-right:5px;
	border-radius:5px;
	background-color:yellow;
	grid-column-start: 1;
    grid-column-end: 2;
	word-break: break-all;
    overflow-wrap: break-word;
}
.format08_cellule_reponse2_faux{
	padding-left:5px;
	padding-right:5px;
	border-radius:5px;
	
	grid-column-start: 2;
    grid-column-end: 3;
	word-break: break-all;
    overflow-wrap: break-word;
}
.format08_cellule_reponse2_vrai{
	padding-left:5px;
	padding-right:5px;
	border-radius:5px;
	background-color:yellow;
	grid-column-start: 2;
    grid-column-end: 3;
	word-break: break-all;
    overflow-wrap: break-word;
}
.format08_cellule_reponse3_faux{
	padding-left:5px;
	padding-right:5px;
	border-radius:5px;
	
	grid-column-start: 1;
    grid-column-end: 2;
	word-break: break-all;
    overflow-wrap: break-word;
}
.format08_cellule_reponse3_vrai{
	padding-left:5px;
	padding-right:5px;
	border-radius:5px;
	background-color:yellow;
	grid-column-start: 1;
    grid-column-end: 2;
	word-break: break-all;
    overflow-wrap: break-word;
}
.format08_cellule_reponse4_faux{
	padding-left:5px;
	padding-right:5px;
	border-radius:5px;
	
	grid-column-start: 2;
    grid-column-end: 3;
	word-break: break-all;
    overflow-wrap: break-word;
}
.format08_cellule_reponse4_vrai{
	padding-left:5px;
	padding-right:5px;
	border-radius:5px;
	background-color:yellow;
	grid-column-start: 2;
    grid-column-end: 3;
	word-break: break-all;
    overflow-wrap: break-word;
}

.format08_cellule_graphique{
	font-size:100%;
	padding:2%;
	/*background-color:red;*/
	grid-column-start: 3;
    grid-column-end: 4;
	grid-row-start:2;
	grid-row-end:4;
	word-break: break-all;
    overflow-wrap: break-word;
}

/* Colonne des numéros de ligne */
.line-numbers {
    background-color: #f0f0f0;
    color: #a0a0a0;
    padding: 10px 8px;
    text-align: right;
    border-right: 1px solid #e0e0e0;
    user-select: none; /* Empêche la sélection des numéros */
}



/* Zone de code */
.code-area {
    padding: 10px;
    white-space: pre;
    flex-grow: 1;
}
/* pour python */
/* Coloration Syntaxique (Inspiré du thème par défaut) */
.keyword { color: #7f0055; font-weight: bold; } /* if, for, def, return */
.string { color: #2a00ff; } /* "hello" */
.comment { color: #3f7f5f; font-style: italic; } /* # commentaire */
.number { color: #000000; } /* 123 */
.builtin { color: #7f0055; } /* print, len */
.function { color: #000000; } /* nom de la fonction */

/*Pour ls tableaux de loi de probabilites*/
.loi_proba {
	        
            width: 80%;           /* Le tableau prend toute la largeur */
            border-collapse: collapse; /* Supprime les doubles bordures */
            table-layout: fixed;   /* Force les colonnes à avoir la même taille */
        }

.loi_proba td {
            border: 2px solid #000;
            height: 80px;         /* Hauteur définie pour voir l'alignement vertical */
            
            /* Centrage */
            text-align: center;    /* Horizontal */
            vertical-align: middle; /* Vertical */
        }













