body{
	background : linear-gradient(to right, #ffffff,#0000ee);
    
	font-size:16pt;
}
.credit{
	font-size:40%;
}
h1{
	font-family:"Times New Roman",Times;
	font-size : 160%;
	font-variant: small-caps;
	margin-left:5%;
}
h2{
	font-family:"Times New Roman",Times;
	font-size : 140%;
	font-variant: small-caps;
	margin-left:10%;
}
.container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.titre_sequence{
	
	padding-top:10px;
	min-height:50px;
	text-align:center;
	font-size:200%;
	font-family:"Times New Roman",Times;
	font-variant: small-caps;
	color:#ffffff;
	font-style:italic;
	text-align : center;
	text-shadow : #5555FF 0 -1px 4px, #EEEEEE 0 -2px 10px, #EEEEEE 0 -10px 20px, #AAAAFF 0 -18px 40px;
	margin:1px;
	border-radius:10px;
}
.en_tete {
	background-color: #000000;
	color: #ffffff;
}
button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
.connaissance{
	background-color:#BBFFFF;
	color:#000000;
	font-style:italic;
	margin-left:10%;
	margin-right:10%;
	margin-bottom : 10px;
	padding:5px;
	border-radius:5px;
}
.fond_de_texte_normal {
	background-color:rgb(255,255,255,0.4);
	color:#000000;
	font-style:italic;
	margin-left:10%;
	margin-right:10%;
	margin-bottom : 10px;
	padding:5px;
	border-radius:5px;
}
.fond_de_texte_normal_centre{
	background-color:rgb(255,255,255,0.4);
	color:#000000;
	font-style:italic;
	margin-left:10%;
	margin-right:10%;
	margin-bottom : 10px;
	padding:5px;
	border-radius:5px;
	text-align:center;
}
.exemple {
	background-color:rgb(255,255,255,0.4);
	color:#000000;
	font-style:italic;
	margin-left:10%;
	margin-right:10%;
	margin-bottom : 10px;
	padding:5px;
	border-radius:5px;
}
.question {
	background-color:rgb(255,255,255,0.4);
	color:#000000;
	font-style:italic;
	margin-left:10%;
	margin-right:10%;
	margin-bottom : 10px;
	padding:5px;
	border-radius:5px;
}
.champ_question {
    width: 90%; /* Définit la largeur à 90% de la largeur de l'élément parent */
}

.cachee{
	display:none;
}


.texte_affichable {
    display: none; /* Cache le contenu par défaut */
}
.a_cliquer{
	background-color:rgb(255,255,100,0.4);
	border-radius:10px;
	padding-left:5px;
	padding-right:5px;
	cursor: pointer;
}
input[type=checkbox]:checked + .texte_affichable {
    display: block; /* Affiche le contenu lorsqu'il est activé */
	background-color:rgb(255,255,100,0.8);
	color:#000000;
	font-style:italic;
	margin-left:10%;
	margin-right:10%;
	margin-bottom : 10px;
	border-style:ridge;
	padding:5px;
	border-radius:10px;
}
/* Gestion des images dans les différentes divisions */
.pour_image{
	text-align:center;
	font-size:60%;
}
.fond_de_texte_normal img{
	max-width:90%;
	height:auto;
}
.connaissance img{
	max-width:90%;
	height:auto;
}
.texte_affichable img{
	max-width:90%;
	height:auto;
}
.exemple img{
	max-width:90%;
	height:auto;
}
.question img{
	max-width:90%;
	height:auto;
}

.container {
    display: flex;
    justify-content: space-between;
}

.col {
    width: 48%; /* Ajustez la largeur selon vos besoins */
}
